<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login</title>
</head>
<body>

  <div>
    <h1>Login</h1>
    <form>
      <input name="username" type="text" placeholder="Username" required><br/>
      <input name="password" type="text" placeholder="Password" required><br/>
      <input name="submit" type="submit" value="Submit">
    </form>
    <h2> Don't have an account?<br> 
    <a href="/sigup">Sign Up</a></h2>
  </div>
  
</body>
</html>