<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Singup</title>
</head>
<body>
  <div>
    <h1>Signup</h1>
    <form>
      <input name="firstName" type="text" placeholder="First Name" required><br/>
      <input name="lastName" type="text" placeholder="Last Name"><br/>
      <input name="username" type="text" placeholder="Username" required><br/>
      <input name="password" type="text" placeholder="Password" required><br/>
      <input name="submit" type="submit" value="Submit">
    </form>

    <h2>Already signed up? <br>
    <a href="/login">login</a></h2>
  </div>

  
</body>
</html>